.about {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
    margin-top: 40px;
    /* margin: 70px auto 40px; */
    padding: 8px;
    /* width: 260px; */
    font: 10px/18px 'Lucida Grande', Arial, sans-serif;
    color: #bbb;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    background: #383838;
    background: rgba(34, 34, 34, 0.8);
    border-radius: 4px;
    /* background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
  }
  .about a {
    color: #eee;
    text-decoration: none;
    border-radius: 2px;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
  }
  .about a:hover {
    text-decoration: none;
    background: #555;
    background: rgba(255, 255, 255, 0.15);
  }
  
  .about-links {
    height: 30px;
  }
  .about-links > a {
    float: left;
    width: 50%;
    line-height: 30px;
    font-size: 12px;
  }
  
  .about-author {
    margin-top: 5px;
  }
  .about-author > a {
    padding: 1px 3px;
    margin: 0 -1px;
  }
  body {
    font: 13px/20px 'Lucida Grande', Verdana, sans-serif;
    color: #404040;
    background: #f2f8fc;
  }